.my-button {
  padding: 10px 20px;
  background-color: #FCFCFC;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.my-button:hover {
  background-color: #FCFCFC;
}
.my-button:active {
  background-color: #3e8e41;
}